<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1,394},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{301,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1,787},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{301,394},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{601,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1,1180},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{301,787},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{601,394},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{901,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1,1573},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{301,1180},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{601,787},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{901,394},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1201,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{301,1573},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{601,1180},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{901,787},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1201,394},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1501,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{601,1573},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{901,1180},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1201,787},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1501,394},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{901,1573},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1201,1180},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1501,787},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1201,1573},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1501,1180},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,391}</string>
                <key>spriteSourceSize</key>
                <string>{298,391}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>human_walk.png</string>
            <key>size</key>
            <string>{1800,1965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7da7620fa5036e785b983cb48c254770:2093433385c4561534d1c034ddeb586b:04e464facfebb6774104940bea888760$</string>
            <key>textureFileName</key>
            <string>human_walk.png</string>
        </dict>
    </dict>
</plist>
