<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_0000_帧-60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0001_帧-59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,1},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0002_帧-58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,1},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0003_帧-57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,1},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0004_帧-56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,20},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0005_帧-55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,20},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0006_帧-54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,20},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0007_帧-53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,20},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0008_帧-52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,39},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0009_帧-51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,39},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0010_帧-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,39},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0011_帧-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,39},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0012_帧-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,58},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0013_帧-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,58},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0014_帧-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,58},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0015_帧-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,58},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0016_帧-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,77},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0017_帧-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,77},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0018_帧-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,77},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0019_帧-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,77},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0020_帧-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,96},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0021_帧-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,96},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0022_帧-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,96},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0023_帧-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,96},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0024_帧-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,115},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0025_帧-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,115},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0026_帧-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,115},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0027_帧-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,115},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0028_帧-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,134},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0029_帧-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,134},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0030_帧-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,134},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0031_帧-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,134},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0032_帧-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,153},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0033_帧-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,153},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0034_帧-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,153},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0035_帧-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,153},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0036_帧-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,172},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0037_帧-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,172},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0038_帧-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,172},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0039_帧-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,172},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0040_帧-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,191},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0041_帧-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,191},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0042_帧-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,191},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0043_帧-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,191},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0044_帧-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,210},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0045_帧-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,210},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0046_帧-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,210},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0047_帧-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,210},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0048_帧-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,229},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0049_帧-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,229},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0050_帧-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,229},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0051_帧-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,229},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0052_帧-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,248},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0053_帧-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,248},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0054_帧-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,248},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0055_帧-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,248},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0056_帧-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1,267},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0057_帧-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{483,267},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0058_帧-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{965,267},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_0059_帧-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,480}</string>
                <key>spriteSourceSize</key>
                <string>{17,480}</string>
                <key>textureRect</key>
                <string>{{1447,267},{17,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dd.png</string>
            <key>size</key>
            <string>{1928,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c28dcf3966ec9be7bd806506c378ea1:8dd9fdd5ea4b56f1f38ea7f89051f51f:b8281604c0a6892694c4bc3c3f7fbbf4$</string>
            <key>textureFileName</key>
            <string>dd.png</string>
        </dict>
    </dict>
</plist>
